.cartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  border: 1px solid silver;
  margin-bottom: 20px;
  border-radius: 6px;
}

.cartProductImage {
  width: 80px;
}

.cartData {
  text-align: left;
}

.cartData h3 {
  color: #1a73e8;
  margin-bottom: 10px;
}

.cartData p {
  color: #34a853;
  font-weight: bold;
}

.cartQuantity {
  background: orange;
  width: 25px;
  height: 25px;
  display: inherit;
  line-height: 25px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
	text-align: center;
}

@media (max-width:470px) {
.cartContainer {
	flex-direction: column;
}
.cartProductImage {
	width: 150px;
}

.cartData {
	text-align: center;
}

.cartData h3 {
	margin: 30px 0 20px;
}

.cartData p {
		margin: 20px 0 30px;
}

.cartQuantity {
	margin: 0 0 10px;
}

.cartButtonContainer {
	margin: 20px 0 20px;
}
}