.detailContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 150px 50px;
  padding: 20px;
  border: 1px solid silver;
  background-color: #fff;
  border-radius: 10px;
}

.detailImage {
  width: 450px;
}

.detailTextContainer {
  text-align: left;
  margin-left: 30px;
  padding: 20px;
  border: 1px solid silver;
  border-radius: 10px;
}

.detailTextContainer h3 {
  color: #1a73e8;
  margin: 20px 0 30px;
}

.detailDescription {
  color: rgb(62, 62, 62);
  margin-bottom: 30px;
}

.detailCategory {
  color: rgb(62, 62, 62);
  font-weight: bold;
  margin-bottom: 50px;
}

.category span {
  color: orange;
  font-size: 1rem;
}

.detailButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detailPrice {
  display: inline-block;
  background-color: #34a853;
  padding: 7px 16px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px,
    rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px,
    rgba(0, 0, 0, 0.07) 0 9px 16px;
}

.detailButtonContainer a {
  text-decoration: none;
  display: inline-block;
  background-color: #1a73e8;
  padding: 7px 16px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px,
    rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px,
    rgba(0, 0, 0, 0.07) 0 9px 16px;
}

.detailButtonContainer a:hover {
  background-color: #0b499b;
}

@media (max-width: 1200px) {
  .detailContainer {
    margin: 120px 80px 50px;
  }
}

@media (max-width: 1000px) {
  .detailContainer {
    flex-direction: column;
    justify-content: center;
  }
  .detailImage {
    width: 170px;
    margin-bottom: 50px;
  }
  .detailTextContainer {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .detailContainer {
    margin: 120px 40px 50px;
    justify-content: center;
  }
  .detailTextContainer {
    margin: 0;
  }
}

@media (max-width: 555px) {
  .detailContainer {
    margin: 120px 20px 50px;
    justify-content: center;
  }
  .detailTextContainer {
    margin: 0;
  }
}

@media (max-width: 475px) {
  .detailButtonContainer {
    flex-direction: column;
    align-items: center;
  }

  .productButtonContainer {
    margin: 5px;
  }
}
